<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--The namespace defines the location of the Java interface.
    The operation names here must match the method names in the interface -->

<mapper namespace="com.ahmed.simpleBank.integration.mapper.SimpleBankMapper">

    <select id="getUserById" resultType="com.yourdomain.simplebank.model.User">
        SELECT * FROM users WHERE user_id = #{userId};
    </select>

    <!-- Other SQL statements like INSERT, UPDATE, DELETE, etc. can go here -->

</mapper>
